aws_access_key=""
aws_secret_key=""
default_vpc_id="vpc-123424324"
region="ap-southeast-1"
ami_id="ami-8e0205f2"
public_subnets_cidr_blocks=["172.31.1.0/24"]
private_subnets_cidr_blocks=["172.31.0.0/24"]
aws_keypair_name="hdpspark_nodes_key"
instance_type="t2.micro"
spot_price= 0.0045
spot_hdpspark_master_count=2
spot_hdpspark_worker_count=5